#full-body{
    margin: 0 auto;
}
#header{
    /* width: 1440px; */
    margin: 0 180px;
    position: sticky;
    z-index: 200;
}
.nav-menu{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    /* width: 1400px; */
}
.main-logo{
    width: 200px;
}
.menu{
    
}
.menu-list{
    display: flex;
    list-style-type: none;
    width: fit-content;
    float: right;
    cursor: pointer;
}
.menu-items{
    padding: 0 20px ;
    cursor: pointer;
}
.search-icon{
    width: 20px;
    color: black;
}


#hero{
    position: relative;
    background-color: #F9F8F9;
}
.hero-main{
    /* width: 1440px; */
    padding: 170px 0px 45px 200px;
}
.hero-rel{
}
.hero-title{
    width: 700px;
    font-size: 86px;
    font-weight: 700;
    font-family: "Playfair Display", serif;
    color: #094B72;
}
.hero-about{
    padding: 40px 0;
    width: 578px;
    left: 2px;
    font-size: 24px;
    font-weight: 350;
    line-height: 38px;
    letter-spacing: .5px;
    font-family: "Playfair Display", serif;
    color: #4F4F4F;
}
.button-getstarted{
    width: 190px;
    height: 80px;
    border: 0;
    border-radius: 8px;
    left: 35px;
    font-family:  "Playfair Display", serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    color: #F9F8F9;
    background-color: #094B72;
}
.trusted-company{
    width: 540px;
    margin: 78px 0 40px 0;
    font-family:  "Playfair Display", serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #8B8C8C;
}
.trusted-company-logo{
    top: 99px;
}
.hero-image{
    position: absolute;
    top: -40px;
    width: 550px;
    height: 950px;
    left: 740px;
    background-color: transparent;
}


#section-why{
    /* width: 1440px; */
    background-color: #F2FCFF;
    z-index: 100;
}
.our-feature{
    /* width: 1400px; */
    display: flex;
    flex-wrap: ;
    gap
}
.why-card{
    margin: 200px 100px 200px 200px;
    /* margin-top: 200px; */
    width: 420px;
    /* background-color: #000; */
}
.why-title{
    font-size: 50px;
    line-height: 60px;
    letter-spacing: 0.32px;
    font-family: "playfair display", sans-serif;
    font-weight: 700;
    color: #2D2F3D;
}
.why-about{
    padding: 30px 0;
    font-size: 20px;
    line-height: 30px;
    font-family: "poppins", sans-serif;
    font-weight: 400;
    color: hsl(180, 0%, 55%);
}
.why-card-main{
    margin: auto 0;
    width: 600px;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
}
.card-1, .card-2, .card-3, .card-4{
    width: 230px;
    height: 210px;
    padding: 15px;
    margin: 15px;
    background-color: white;
    z-index: 90;
}
.circle-image{
    width: 40px;
}
.card-1-title{
    padding: 10px 0;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 0.5px;
    font-family: "playfair display", sans-serif;
    font-weight: 700;
    color: #363940;
}
.card-1-about{
    text-align: justify;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.3px;
    font-family: "playfair display", sans-serif;
    font-weight: 400;
    color: #8B8C8C;
}