*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    background-color: #FEFEFE;
}

#header{
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.852);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    /* display: block; */
}
.header-area{
    /* width: 1440px; */
    max-width: 1200px;
    min-width: 700px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    /* overflow-wrap: normal; */
}
.menu-item> ul{
    display: flex;
    list-style-type: none;
    color: black;
}
.menu-item> ul > li >a{
    padding: 0 20px;
    color: black;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 500;
}
.menu-item> ul > li :hover {
    color: #ff7b00;
    transition-duration: .4s;
}
.header-button{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
}
.sign-in-button{
    border-radius: 10px;
    padding: 10px 29px;
    border: none;
    background: transparent;
}
.log-in-button{
    border-radius: 7px;
    padding: 10px 29px;
    background-color: aqua;
    border: none;
}



/* #hero{

} */
.hero-container{
    max-width: 1550px;
    min-width: 700px;
    /* width: 100%; */
    padding-top: 120px;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.hero-bg-top-middle{
    position: absolute;
    top: 15%;
    left: 50%;
}
.hero-bg-3{
    position: absolute;
    top: 7%;
    left: 0;
}
.hero-bg-r1{
    position: absolute;
    top: 18%;
    right: 0;
}
.hero-bg-r2{
    position: absolute;
    bottom: 20%;
    right: 0;
}
.hero-left{
    flex: 50%;
    position: relative;
}
.hero-right{
    flex: 50%;
}
.hero-left-container{
    width: 80%;
    float: right;
}
.hero-sub-title{
    font-family: 'poppons', sans-serif;
    font-size: 20px;
    color: #2f2b71;
    margin-bottom: 20px;
    font-weight: 500;
    letter-spacing: 10px;
}
.hero-title{
    font-family: 'poppins', sans-serif;
    font-size: 70px;
    color: #5f596e;
    /* margin-bottom: 20px; */
    font-weight: 700;
    /* letter-spacing: 23.5%; */
    line-height: 115.999%;
}
.hero-description{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: black;
    /* margin-bottom: 30px; */
    font-weight: 500;
    letter-spacing: 1.5px;
    padding: 35px 0;
}
.apply-button{
    border-radius: 7px;
    padding: 18px 35px;
    border: none;
    background-color: #54b8ff;
    color: white;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 8px;
}
.hero-bottom-background{
    /* width: fit-content; */
    float: right;
}
.hero-bottom-background>div{
    width: fit-content;
    /* float: right; */
    display: flex;
    flex-wrap: nowrap;
    justify-content: right;
    align-items: end;
}
.hero-bottom-background>div>img{
    /* float: right; */
    /* display: flex; */
    flex-wrap: nowrap;
    align-items: end;
    /* align-self: flex-end; */
    justify-content: end;
    text-align: end;
    position: relative;
    right: 0;
}
.hero-bg-bottom-left{
    position: absolute;
    left: 0;
    bottom: 0;
}



#Best-teacher{

}
.BT-container{
    max-width: 1200px;
    min-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.bt-left-side{
    flex: 45%;
}
/* main left side card */
.basic-to-higher-card{
    width: 345px;
    height: 400px;
    border: 2px solid rgba(224, 223, 223, 0.575);
    border-radius: 28px;
    background-color: white;
    /* box-shadow: 10px 10p  gray; */
    padding: 20px;
    margin-top: 230px;
    position: relative;
}
.Higher-study-bg-image{
    position: absolute;
    z-index: -1;
    bottom: 10px;
    left: 180px;
}
.basic-to-higher-card>img{
    width: 100%;
}
.basic-to-higher-card-sub-title{
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    color: #ff733b;
    padding: 10px 0;
    font-weight: 500;
}
.basic-to-higher-card-title{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: #04004d;
    padding: 10px 0;
    font-weight: 600;
}
.basic-to-higher-card-class{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #898e92;
    /* margin-bottom: 10px; */
    font-weight: 400;
    /* letter-spacing: 1px; */
}
.basic-to-higher-card-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 0 15px 0;
}
.join-now-button{
    border-radius: 7px;
    padding: 7px 10px;
    border: none;
    font-size: 12px;
    background-color: #367166;
    color: white;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
}
.card-time{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #898e92;
    font-weight: 400;
}

/* floating part */
.congratulation-card{
    position: absolute;
    top: -130px;
    left: 90px;
    width: fit-content;
    background-color: white;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px 12px;
    border-radius: 12px;
    box-shadow: 20px 25px 20px -12px rgb(0 0 0 / 0.25);
}
.congratulation-card-image{
    
}
.congratulation-card-text{
    
}
.congratulation-card-title{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #04004d;
    font-weight: 600;
}
.congratulation-card-about{
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    color: #898e92;
    font-weight: 400;
}
/* this is floating  */
.Teachers-Statistics{
    position: absolute;
    top: -130px;
    left: 270px;
    width: 280px;
    box-sizing: border-box;
    background-color: white;
    padding: 50px 25px;
    border-radius: 15px;
    border: 2px solid rgba(224, 223, 223, 0.575);
}
.Teachers-Statistics-title{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    text-align: center;
    color: #04004d;
    font-weight: 600;
}
.Teachers-Statistics>img{
    width: ;
    margin: 0 auto;
    display: block;
    padding: 30px 0;
}
.Teachers-Statistics-bottom{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}
.Teachers-Statistics-bottom-left{
    flex: 50%;
    font-family: 'Inter',sans-serif;
    text-align: center;
    font-size: 12px;
    color: #fab408;
    background-color: #fff3d4;
    padding: 8px 0px;
    border-radius: 8px;
}
.Teachers-Statistics-bottom-right{
    flex: 50%;
    font-family: 'Inter',sans-serif;
    text-align: center;
    font-size: 12px;
    color: #19bf6f;
    background-color: #dcffee;
    padding: 8px 0px;
    border-radius: 8px;
}
/* this is right side of best teacher */
.bt-right-side{
    flex: 45%;
    margin: 0 auto;
}
.bt-right-title{
    font-family: 'inter', sans-serif;
    font-size: 50px;
    color: #04004d;
    /* margin-bottom: 20px; */
    font-weight: 700;
    line-height: 60px;
    /* letter-spacing: 10px; */
}
.bt-r-description{
    font-family: 'inter', sans-serif;
    font-size: 16px;
    color: #336c61;
    font-weight: 400;
    padding: 38px 0;
    line-height: 25px;
    /* margin-bottom: 30px; */
    /* letter-spacing: 1.5px; */
}
.read-more-button{
    border-radius: 7px;
    padding: 18px 35px;
    border: none;
    font-size: 18px;
    background-color: #54b8ff;
    color: rgb(238, 223, 223);
    font-weight: 500;
    font-family: 'inter', sans-serif;
}


